body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 0;
    padding: 2rem 2rem 0 2rem; /* Add padding only at the top and sides */
    text-align: center;
}

.actorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts columns to fit as many as possible */
    gap: 1rem; /* Space between the grid items */
    padding: 2rem;
   
}

.actorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between the items */
    padding: 2rem;
    justify-content: center; 
    
}

.filmActorBlockLink {
    text-decoration: none;
    color: white;
   background-color: rgba(62, 52, 52, 0.313);
}

.actorBlock {
    background-color: rgba(114, 128, 128, 0.082);
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100px; 
    transition: background-color 0.3s;
 

}

.actorBlock:hover {
    background-color: #333;
  
}


