.filmActorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.filmActorBlock {
    flex: 1 1 200px;
    background-color: rgba(114, 128, 128, 0.082);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.filmActorBlock:hover {
    transform: scale(1.05); /* hovering enlarges block */
}
