@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.pageContainer {
    min-height: 100vh; 
    /* takes 100% height of browser */
    display: flex;
    flex-direction: column;
}

.filmByIdPage {
    padding: 25px;
}

.filmByIdPage .filmDetails {
    max-width: 600px; 
    margin: 0 auto; 
}

.filmByIdPage .filmDetails h1 {
    margin-bottom: 20px; 
    font-size: 2rem; 
    font-weight: 600; 
}

.filmByIdPage .filmDetails p {
    margin: 10px 0; 
    font-size: 16px; 
}

.filmByIdPage .filmDetails p::before {
    content: "";
    display: block;
    border-bottom: 1px solid white; 
    margin: 10px 0px 20px 0px; 
}

.filmByIdPage .filmDetails p:first-of-type::before {
    /* before the first p element so no top border */
    display: none; 
}

.filmByIdPage .filmDetails p span {
    font-weight: 600;
}

.filmByIdPage .cast {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px; 
}

.filmByIdPage .cast div {
    flex: 1 1 200px; 
    background-color: rgba(114, 128, 128, 0.082);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px; 
}

.filmByIdPage .cast a {
    text-decoration: none;
    color: white;
    display: block; 
}

.filmByIdPage .cast a:hover {
    color: lightblue;
    text-decoration: underline; 
}
